<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Employee</title>
</head>

<body>
   <%- include(`partials/nav.ejs`) %>


    <h2>Add New Employee</h2>
    <p>Welcome</p>

    <form action="/employee" method="post">

        <label>Name & Surname</label>
        <input type='text' className='mail' name="nameSurname" placeholder="Name & Surname" id='form2Example1' label='Address' <%= locals.nameSurname  %> />
        <br />

        <label>ID Number</label>
        <input type='text' className='mail' name="idNumber" placeholder="ID Number" id='form2Example1' label='Address' <%= locals.idNumber %> />
        <br />


        <label>Email Address</label>
        <input type='text' className='mail' name="email" placeholder="Email Address" id='form2Example1' label='Address' <%= locals.email  %> />
        <br />

        <label>Employee position</label>
        <input type='text' className='mail' name="position" placeholder="Employee position" id='form2Example1' label='Address' <%= locals.position  %> />
        <br />

        <label>Phone number</label>
        <input type='number' className='mail' name="phoneNumber" placeholder="Number" id='form2Example1' label='Address' <%= locals.phoneNumber  %> />
        <br />

        <label>Image</label>
        <input type='file' className='mail' name="image" placeholder="Example: John Phillips" id='form2Example1' label='Address' <%= locals.image  %> />
        <br />

        <div>
            <button class="btn">Submit</button>
        </div>

    </form>

    <!-- <div class="main-wrapper">

        <div class="form-wrapper">
            <form action="https://formbold.com/s/FORM_ID" method="POST">
                <div class="mb-5">
                    <label for="name" class="form-label"> Full Name </label>
                    <input type="text" name="name" id="name" placeholder="Full Name" class="form-input" />
                </div>

                <div class="mb-5">
                    <label for="email" class="form-label"> Email Address </label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" class="form-input" />
                </div>

                <div class="mb-5">
                    <label for="subject" class="form-label"> Subject </label>
                    <input type="text" name="subject" id="subject" placeholder="Enter your subject"
                        class="form-input" />
                </div>

                <div class="mb-5">
                    <label for="message" class="form-label"> Message </label>
                    <textarea rows="6" name="message" id="message" placeholder="Type your message"
                        class="form-input"></textarea>
                </div>

                <div>
                    <button class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
 -->



</body>

</html>